aws-cdk-lib==2.149.0
aws-lambda-powertools==2.29.0
cdk-nag==2.27.176
constructs
stringcase==1.2.0
PyYAML
boto3==1.34.9
cdk-aws-iotfleetwise==0.3.2
aws-cdk.aws-apigatewayv2-integrations-alpha
aws-cdk.aws-lambda-python-alpha==2.149.0
